.syne-mono-regular {
    font-family: "Syne Mono", monospace;
    font-style: normal;
}

body {
    background-color: #fbfefb;
    color: #050316;
    font-family: "Noto Sans";
    margin: 0;
}

.bodyfix{
    margin-top: 60px;
}

header {
    background-color: #fbfefb;
    text-align: center;
    gap: 20;
    padding-left: 20px;
}

header h1 {
    font-size: 80px;
    line-height: .75;
}

nav {
    background-color: #dbfffa;
    padding: 15px;
    margin-top: 15px;
    text-align: center;
    margin: 0;
}

nav a {
    color: #27ce75;
    margin: 20px;
    text-decoration: none;
    display: inline-block;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

article {
    background-color: #fbfefb;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    box-sizing: border-box;
    gap: 20px;
    flex: 3;
}

.link-caixa {
    background-color: #fbfefb;
    border: 1px solid #d0d4d0;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    text-decoration: none;
}

.link-caixa img {
    width: 100%;
    height: auto;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 10px;
}

.link-caixa h2 {
    color: #050316;
}

.link-caixa a {
    color: #27ce75;
    text-decoration-style: none;
}


/*aside {
    background-color: #27ce75;
    padding: 20px;
    width: 30%;
    border-radius: 40px;
    flex: 1;
}

aside h2 {
    color: #050316;
}*/

footer {
    background-color: #00241f;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    color: #eae9fc;
    display: flex;
}

footer table {
    flex: 5;
    color: #eae9fc;
}

footer p {
    flex: 4;
}

.primarybox {
    max-width: 900px;
    margin: auto;
    background: #27ce75;
    border-radius: 50px;
    padding: 25px;
    margin: 50px;
    flex: 1;
}

.primarybox img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    border-radius: 25px;
}

.primarybox h1 {
    color: #040316;
    margin-top: 25px;
}

.primarybox h2 {
    color: #1d1b41;
    margin-top: 25px;
}

.primarybox p {
    color: white;
    line-height: 1.6;
}

.voltar {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    background-color: #cbff3d;
    border-radius: 25px;
    color: #040316;
    text-decoration: none;
}

.voltar:hover {
    background: #16384c;
}

.main_legal{
    justify-content: center; 
}